*{
  padding: 0;
  margin: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}


/* Navbar */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;

}

.left-half{
  display: flex;
  align-items: center;

}
.right-half{
  display: flex;
  align-items: center;
}

.logo{
  font-size: 2.2rem;
  margin: 1rem;
}
.home{
  font-size: 1.4rem;  
  background-color: #1f1f1f;
  padding: 8px;
  border-radius: 50%;
  margin: 0 1rem;
  
}